#options file for mysql database

[entrypoint]
port=3306
TZ=UTC
MYSQL_DATABASE=cicd_project
MYSQL_INITSB_SKIP_TZINFO=yes
MYSQL_ROOT_PASSWORD=rootuser
MYSQL_PASSWORD=userpassword
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_ONETIME_PASSWORD=yes
MYSQL_USER=admin


